/* .App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

#CreateFormDataGrid .react-grid-Main {
    outline: 0px solid #e7eaec;
}

#CreateFormDataGrid .react-grid-Viewport {
    overflow: visible;
}
#CreateFormDataGrid .react-grid-Canvas {
    overflow: visible;
    overflow-y: visible;
}

/* #CreateFormDataGrid .react-grid-Grid {
    border: 0px solid #dddddd;
} */

/* #CreateFormDataGrid .react-grid-HeaderRow {
	border-left: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
} */

#CreateFormDataGrid .react-grid-Row {
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}

@media print {
    body {
        top: 0 !IMPORTANT;
        left: 0 !IMPORTANT;
        width: 172mm !IMPORTANT;
        height: 251mm !IMPORTANT;
    }
    .s6 .index.page .inner.s6 .page .wrapper {
        width: 47% !IMPORTANT;
        height: 32% !IMPORTANT;
        font-size: 50%;
        line-height: 1.2;
    }
    table {
        page-break-after: auto;
    }
    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }
    td {
        page-break-inside: avoid;
        page-break-after: auto;
    }
    thead {
        display: table-header-group;
        page-break-before: always;
    }
}
